<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 3: History of The Glaive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="text">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
      <h1  class="headings my-4">The Glaive!</h1>
      
      <img class="mr-3 images" src="../../assets/Glaive.jpg" alt="The Glaive!"/>
      <div>
        <h3 class="headings">Background</h3>
      <p>Typically, the blade is around 45 centimetres (18 in) long, on the end of a pole 2 metres (7 ft) long, and the blade is affixed in a socket-shaft configuration similar to an axe head, rather than having a tang like a sword or naginata. Occasionally, glaive blades were forged with a small hook on the reverse side to better catch riders. Such blades are called glaive-guisarmes.</p>
      <p>According to the 1599 treatise Paradoxes of Defence by the English gentleman George Silver, the glaive is used in the same general manner as the quarterstaff, half pike, bill, halberd, voulge, or partisan. Silver rated this class of polearms above all other individual hand-to-hand combat weapons.</p>
      <p>The contemporary term for this weapon may have been faussart, which was used for a variety of single-edged weapons seen as related to the scythe (along with terms such as falchion, falcata, or fauchard derived from falx, the Latin term for "scythe").</p>
      <p>    It has been argued that the glaive had its origin in Wales, and that it remained a national weapon until the end of the XVth Century. Grose mentions a warrant (Harleian MS., No. 433) issued to Nicholas Spicer, dated the first year of Richard III's reign, 1483 for enrolling of smiths for "the making of two hundred Welsh glaives" – twenty shillings and sixpence being the charge for thirty glaives with their staves, made at Abergavenny and Llanllowel.</p>
      <h2 class="my-4 text-center">Page 3</h2>
      </div>
      <div class="row text-center">
            <div class="col-md"><ion-button color = "success" [routerDirection]="'root'" [routerLink]= "['/chapter2']"  shape="round">Previous Chapter</ion-button></div>
            <div class="col-md"><ion-button color = "success" [routerDirection]="'root'" [routerLink]= "['/toc']"  shape="round">Go back to TOC</ion-button></div>
          </div>




      </div>
    </div>
    
  </div>

</ion-content>
