<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2: History of Bec de corbin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="text">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
      <h1  class="headings my-4">The Bec de corbin!</h1>
      
      <img class="mr-3 images" src="../../assets/Bec_de_Corbin.jpg" alt="The Bec de corbin!"/>
      <div>
        <h3 class="headings">Background</h3>
      <p>Bec de corbin (Modern French: Bec de corbeau [bɛk də kɔʁ.bo]) is a type of polearm and war hammer that was popular in medieval Europe. The name is Old French for "raven's beak".</p>
      <p>Similar to the Lucerne hammer, it consists of a modified hammer's head and spike mounted atop a long pole. Unlike the Lucerne hammer, the bec de corbin was used primarily with the "beak" or fluke to attack instead of the hammer head. The hammer face balancing the beak was often blunt instead of the multi-pronged Lucerne, and the beak tended to be stouter; better designed for tearing into plate armor, mail, or gambeson.</p>
      <p>The spike mounted on the top of the head was also not nearly as long and thin as on the Lucerne. Bec de corbin occasionally becomes a catchall for any type of war hammer, such as a maul or a horseman's pick.</p>
      <h2 class="my-4 text-center">Page 2</h2>
      </div>
      <div class="row text-center">
            <div class="col-sm"><ion-button color = "success" [routerDirection]="'root'" [routerLink]= "['/chapter1']"  shape="round">Previous Chapter</ion-button></div>
            <div class="col-sm"><ion-button color = "success" [routerDirection]="'root'" [routerLink]= "['/chapter3']" shape="round">Next Chapter</ion-button></div>
          </div>
          <div class="row text-center">
            <div class="col-md"><ion-button color = "success" [routerDirection]="'root'" [routerLink]= "['/toc']"  shape="round">Go back to TOC</ion-button></div>
          </div>




      </div>
    </div>
    
  </div>

</ion-content>
