<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1: History of The Crossbow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="text">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <h1 class="headings my-4">The Crossbow!</h1>

        <img class="mr-3 images" src="../../assets/crossbow.jpg" alt="The Crossbow!" />
        <div>
          <h3 class="headings">Background</h3>
          <p>It is not clear where and when the crossbow originated, but it is believed to have appeared in China and
            Europe around the 7th to 5th centuries BC.</p>
          <p> In China the crossbow was one of the primary military weapons from the Warring States period until the end
            of the Han dynasty, when armies composed of up to 30 to 50 percent crossbowmen were not unheard of. The
            crossbow lost much of its popularity after the fall of the Han dynasty, likely due to the rise of the more
            resilient heavy cavalry during the Six Dynasties.</p>
          <p>One Tang dynasty source recommends a bow to crossbow ratio of five to one as well as the utilization of the
            countermarch to make up for the crossbow's lack of speed.[1] The crossbow countermarch technique was further
            refined in the Song dynasty, but crossbow usage in the military continued to decline after the Mongol
            conquest of China.[2] Although the crossbow never regained the prominence it once had under the Han, it was
            never completely phased out either. Even as late as the 17th century, military theorists were still
            recommending it for wider military adoption, but production had already shifted in favor of firearms and
            traditional composite bows</p>
      <h2 class="my-4 text-center">Page 1</h2>
        </div>
        <div class="row text-center">
          <div class="col-md">
            <ion-button color="success" [routerDirection]="'root'" [routerLink]="['/chapter2']" shape="round">Next
              Chapter</ion-button>
          </div>
          <div class="col-md">
            <ion-button color="success" [routerDirection]="'root'" [routerLink]="['/toc']" shape="round">Go back to TOC
            </ion-button>
          </div>
        </div>




      </div>
    </div>

  </div>

  <div class="row">
    <div class="col ion-text-end">
    </div>
  </div>
</ion-content>